h1 {
    text-align: center;
    background-color:blanchedalmond;
}
nav.menu{
    text-align: center;
    background-color: greenyellow;display: block;;
}
p.taronja {
    background-color: orange; display: block;
}
h3.t{
    background-color: orange;

}
