h1 {
    text-align: center;
    background-color:blanchedalmond;
}
nav.menu{
    text-align: center;
    background-color: greenyellow;display: block;;
}
div.orange{
    background-color: orange;
}
footer.blue{
    background-color: blue;
}
p.yellow·{
    background-color: yellow;
    text-align: center;
}