h1 {
    text-align: center;
    background-color:blanchedalmond;
}
nav.menu{
    text-align: center;
    background-color: greenyellow;inline-size: auto;
}
p.taronja {
    background-color: orange; inline-size: auto;
}
p.orange{
    background-color: orange; inline-size: auto;
}